# SPDX-FileCopyrightText: Copyright © 2023 Idiap Research Institute <contact@idiap.ch>
#
# SPDX-License-Identifier: GPL-3.0-or-later

recursive-include doc *.rst
recursive-include tests *.py
recursive-include src/deepdraw/binseg/data *.json
recursive-include src/deepdraw/detect/data *.json
