{% for copyright_line in copyright_lines %}
SPDX-FileCopyrightText: {{ copyright_line }}
{% endfor %}

SPDX-FileContributor: Tim Laibacher, tim.laibacher@idiap.ch
SPDX-FileContributor: Oscar Jiménez del Toro, oscar.jimenez@idiap.ch
SPDX-FileContributor: Maxime Délitroz, maxime.delitroz@idiap.ch
SPDX-FileContributor: Andre Anjos andre.anjos@idiap.ch
SPDX-FileContributor: Daniel Carron, daniel.carron@idiap.ch

{% for expression in spdx_expressions %}
SPDX-License-Identifier: {{ expression }}
{% endfor %}
